NEXT_PUBLIC_SPEECH_SERVICES_WS_UNIFIED_URL=localhost:9090/ws/unified
NEXT_PUBLIC_SPEECH_SERVICES_HTTP_TTS_URL=localhost:9090/tts
NEXT_PUBLIC_SPEECH_SERVICES_WS_STT_URL=localhost:9090/ws/stt
NEXT_PUBLIC_SPEECH_SERVICES_WS_VAD_URL=localhost:9090/ws/vad